name: 'Build and Test'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  check-dist:
    name: Check dist/ directory
    uses: actions/reusable-workflows/.github/workflows/check-dist.yml@5e63e7aef083769958fc026fe8eea0241c0eb444
    with:
      node-version: 20.x
      node-caching: npm

  test:
    name: Test
    uses: actions/reusable-workflows/.github/workflows/basic-validation.yml@5e63e7aef083769958fc026fe8eea0241c0eb444
    with:
      operating-systems: "['ubuntu-latest']"
      node-version: 20.x
      node-caching: npm